// Variables
$white: #fff;
$lightgrey: lightgrey;
$black: #000;

.app {
    visibility: hidden;

    .title {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        background: $lightgrey;
        justify-content: center;
        position: relative;
        flex-direction: column;
        align-items: center;

        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    h1 {
        text-align: center;
        color: $white;
        padding: 20px 10px;
        div {
            margin-right: 10px;
        }
    }

    .form-link {
        position: relative;
        color: $black;
        cursor: pointer;
        font-size: 20px;

        @media (min-width: 800px) {
            position: absolute;
            right: 0;
        }
    }
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@import "./components/CarouselModal/Modal.scss";
@import "./components/ImageBanner/ImageBanner.scss";
@import "./components/Panel/Panel.scss";
@import "./components/Form/Form.scss";
